openai-whisper
ollama
presidio-analyzer
presidio-anonymizer
spacy
gTTS
# RAG Dependencies
langchain
langchain-community
langchain-ollama
langchain-classic
langchain-text-splitters
langchain-core
chromadb
pypdf
# API / Server
fastapi
uvicorn
python-multipart
# Database
sqlalchemy